/*
全体
*/
body {
    background-color: #004040;
    color: aliceblue;
}

a:link {
    color: #eeffee;
}
a:visited {
    color: #dddddd;
}
a:active {
    color: #ff0000;
}

/*
タイトル・フォーム
*/
header {
    padding: auto;
    margin-bottom: 1rem;
}
strong#title {
    font-size: large;
}

section.Explanation {
    font-size: small;
}


article.Message h1 {
    display: inline;
    font-size: 1rem;
}

pre.Content {
    padding-left: 2rem;
}

.ReloadForm form {
    display: inline;
}

pre.Content .quote {
    color: #d1d1d1;
}